<header>
    <section>
        <button>Accessibilite</button>
        <button>Aide</button>
        <button>Se connecter / S'inscrire</button>
    </section>
    <section>
        <img src="" alt="Logo de l'application" />
        <input placeholder="Tapez votre recherche" />
        <button>+ de recherche avancée</button>
    </section>
    <section>
        <button>Pratique</button>
        <button>Bibliothèques</button>
        <button>Agenda</button>
        <button>Nouveautés</button>
        <button>En ligne</button>
        <button>Découvrir</button>
        <button>Patrimoine</button>
    </section>
</header>