<header>
    <section>
        <button>Accessibilite</button>
        <button>Aide</button>
        <a [routerLink]="['/authentification', utilisateur?.id]">{{utilisateur?.pseudo ?? "Se connecter / S'inscrire"}}</a>
    </section>
    <section>
        <a [routerLink]="['/accueil']"><img src="" alt="Logo de l'application" /></a>
        <input placeholder="Tapez votre recherche" />
        <a [routerLink]="['/livres']">Recherche</a>
        <button>+ de recherche avancée</button>
    </section>
    <section>
        <button>Pratique</button>
        <button>Bibliothèques</button>
        <button>Agenda</button>
        <button>Nouveautés</button>
        <button>En ligne</button>
        <button>Découvrir</button>
        <button>Patrimoine</button>
    </section>
</header>