<header class="container text-center">
    <section class="row">
        <button class="col btn btn-secondary margin2px">Accessibilite</button>
        <button class="col btn btn-secondary margin2px">Aide</button>
        <a [routerLink]="['/authentification', utilisateur?.id]" class="col btn btn-primary margin2px">{{utilisateur?.pseudo ?? "Se connecter / S'inscrire"}}</a>
    </section>
    <section class="row">
        <p class="col"><a [routerLink]="['/accueil']"><img src="" alt="Logo de l'application"></a></p>
        <div class="col p-inputgroup">
            <input type="text" pInputText placeholder="Tapez votre recherche">         
            <button type="button" pButton pRipple label="Recherche" [routerLink]="['/livres']"></button>
        </div>
        <button class="col btn btn-secondary">+ de recherche avancée</button>
    </section>
    <section class="row">
        <button class="col btn btn-secondary margin2px">Pratique</button>
        <button class="col btn btn-secondary margin2px">Bibliothèques</button>
        <button class="col btn btn-secondary margin2px">Agenda</button>
        <button class="col btn btn-secondary margin2px">Nouveautés</button>
        <button class="col btn btn-secondary margin2px">En ligne</button>
        <button class="col btn btn-secondary margin2px">Découvrir</button>
        <button class="col btn btn-secondary margin2px">Patrimoine</button>
    </section>
</header>