<article [hidden]="isEdition" style="border: 2px double red; margin: 5px; padding: 5px;">
    <p>id : {{livre?.id}}</p>
    <p>titre : {{livre?.titre}}</p>
    <p>auteur : {{livre?.auteur}}</p>
    <p>date de publication : {{livre?.dateDePublication | date}}</p>
    <p>nombre de pages : {{livre?.nombreDePages}}</p>
    <details>
        <summary>détail</summary>
        <p style="border: 1px dashed gray;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque neque leo, hendrerit at elit et,
            commodo pulvinar velit. Quisque fermentum, leo ac malesuada commodo, tellus ante tempus enim, sed
            ullamcorper sapien erat id nulla. Aliquam tempus eu arcu nec lobortis. Nunc eu posuere lectus. Sed consequat
            nisi in nunc luctus, id consectetur lorem molestie. Pellentesque nisl sapien, gravida vel nibh bibendum,
            feugiat vestibulum lacus. Fusce aliquet risus vel blandit mattis. In at tempor enim, ut faucibus eros.
            Pellentesque lobortis posuere nibh, consequat imperdiet orci sagittis ac. Phasellus et nunc arcu. Nam tempor
            mauris at ligula lobortis, ut volutpat orci blandit. Sed faucibus eros tincidunt turpis vestibulum
            convallis.</p>
    </details>
    <button class="btn btn-primary" (click)="editer()">Editer</button>
    <button class="btn btn-primary" (click)="supprimer()">Supprimer</button>
    <a [routerLink]="['/livreDetail', livre?.id]">Plus d'infos</a>
</article>
<div [hidden]="!isEdition">
    <app-livre-form [livreFromInput]="livre" (validationOkEvent)="valider($event)" (annulationEvent)="valider($event)"></app-livre-form>
</div>