<style>
  header {position: fixed; top: 0; width: 100%; height:20%; background-color: lightsteelblue; }
  header section {padding: 5px;}
  aside {position: fixed; width: 7%; height:80%; float: left; background-color: lightblue; overflow-y: auto; overflow-x: hidden;}
  aside canvas {margin: 0.5rem;}
  main {margin: 10% 0% 0% 10%;}
  main section {border: 2px double red; margin:5px; padding: 5px;}
  footer {margin-left: 10%; bottom: 0; display: flex; background-color: lightsteelblue;}
  footer section {width: 20%;}
  canvas {border:1px solid red; background-color: beige; margin: 5px;}
</style>

<div>
  <header>
    <section>
      <button>Accessibilite</button>
      <button>Aide</button>
      <button>Se connecter / S'inscrire</button>
    </section>
    <section>
      <img src="" alt="Logo de l'application" />
      <input placeholder="Tapez votre recherche"/>
      <button>+ de recherche avancée</button>
    </section>
    <section>
      <button>Pratique</button>
      <button>Bibliothèques</button>
      <button>Agenda</button>
      <button>Nouveautés</button>
      <button>En ligne</button>
      <button>Découvrir</button>
      <button>Patrimoine</button>
    </section>
  </header>

  <aside>
      <canvas width="50" height="100"></canvas>
      <canvas width="50" height="100"></canvas>
      <canvas width="50" height="100"></canvas>
      <canvas width="50" height="100"></canvas>
      <canvas width="50" height="100"></canvas>
      <canvas width="50" height="100"></canvas>
  </aside>

  <main>
    
    <section>
      <h2>Informations</h2>
      <details>
        <summary>Horaires d'ouverture aujourd'hui : 8h - 20h</summary>
        <ul><li>Lundi : 8h - 20h</li><li>Mardi : 8h - 20h</li><li>Mercredi : 8h - 20h</li><li>Jeudi : 8h - 20h</li><li>Vendredi : 8h - 20h</li><li>Samedi : 8h - 20h</li><li>Dimanche : 8h - 20h</li></ul>
      </details>
      <details>
        <summary>MEDIABUS : 8 - 20h</summary>
        <p>MEDIABUS présent de 8 à 20h tous les jours du 1er Mars au 31 Mars</p>
      </details>
    </section>
    <section>
      <h2>A la une</h2>
      <div style="display: inline-block; padding: 5px;">
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
      </div>
    </section>
    <section>
      <h2>Evénements à venir</h2>
      <div style="display: inline-block; padding: 5px;">
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
      </div>
    </section>
    <section>
      <h2>Projets annexes</h2>
      <div style="display: inline-block; padding: 5px;">
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
      </div>
    </section>
    <section>
      <h2>Réseaux sociaux</h2>
      <div style="display: inline-block; padding: 5px;">
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
        <canvas width="200" height="100"></canvas>
      </div>
    </section>
  </main>

  <router-outlet></router-outlet>

  <footer>
    <section>
      <h2>Nous contacter</h2>
      <address><a href="https://goo.gl/maps/LiPCYMyTkfnFJRgb9">Bibliothèque - Direction<br>1, av de mes rêves<br>06000 Nice</a></address>
      <p><a href="tel:+33600000000">Tel +33 6 00 00 00 00</a></p>
      <p><a href="mailto:toto@gmail.com?subject=EmailContact&body=EmailContact" title="Email de contact">Email de contact</a></p>
    </section>
    <section>
      <h2>Réseaux sociaux</h2>
      <a href="" title="Facebook"><img alt="Facebook"></a>
      <a href="" title="Twitter"><img alt="Twitter"></a>
      <a href="" title="Youtube"><img alt="Youtube"></a>
      <a href="" title="Pinterest"><img alt="Pinterest"></a>
      <a href="" title="Discord"><img alt="Discord"></a>
      <a href="" title="Instagram"><img alt="Instagram"></a>
      <a href="" title="Tiktok"><img alt="Tiktok"></a>
      <a href="" title="BeReal"><img alt="Bereal"></a>
      <a href="" title="Snapchat"><img alt="Snapchat"></a>
    </section>
    <section>
      <ul>
        <li><a href="" title="Données personnelles">Données personnelles</a></li>
        <li><a href="" title="Gestion de cookies">Gestion de cookies</a></li>
        <li><a href="" title="Mentions légales">Mentions légales</a></li>
        <li><a href="" title="Liens utiles">Liens utiles</a></li>
        <li><a href="" title="Aide">Aide</a></li>
        <li><a href="" title="Plan du site">Plan du site</a></li>
      </ul>
    </section>
    <section>
      <a href="" title="Site de la ville"><img src="" alt="Site de la ville"></a>
    </section>
  </footer>

</div>
