/* You can add global styles to this file, and also import other style files */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 25%;
    background-color: lightsteelblue;
}

header section {
    padding: 5px;
}

aside {
    position: fixed;
    width: 7%;
    height: 80%;
    float: left;
    background-color: lightblue;
    overflow-y: auto;
    overflow-x: hidden;
}

aside canvas {
    margin: 0.5rem;
}

main {
    margin: 15% 0% 0% 10%;
}

main section {
    border: 2px double red;
    margin: 5px;
    padding: 5px;
}

footer {
    margin-left: 10%;
    bottom: 0;
    display: flex;
    background-color: lightsteelblue;
}

footer section {
    width: 20%;
}

canvas {
    border: 1px solid red;
    background-color: beige;
    margin: 5px;
}